<!-- index.html -->
<!DOCTYPE html>
<html ng-app="speechlessApp">
<head>
  <!-- SCROLLS -->
  <!-- load bootstrap and fontawesome via CDN -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

  <!-- SPELLS -->
  <!-- load angular and angular route via CDN -->
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
</head>
<body ng-controller="mainController" data-ng-init="init()">

<!-- HEADER AND NAVBAR -->
<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Speechless</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" target="_blank"><i class="fa fa-home"></i> Home</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <center>
            <h4>Spreek wat in!</h4>
            <i ng-click="recordSpeech()" class="fa fa-microphone fa-4 button" id="mic" aria-hidden="true" style="font-size:75px;cursor:pointer;"></i>
            <div><a href="{{modifiedLink}}" id="text"></a></div>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    //Create the module
    var speechlessApp = angular.module('speechlessApp', []);
    //Create controller and inject Angular's $scope
    speechlessApp.controller('mainController', function($scope, $window) {

        var showSynonym = [
            'geef',
            'weergeef',
            'toon',
            'zien',
            'bekijk',
            'genereer',
            'beschrijf'
        ]

        var minnaressen = 'Eva van Luuk'

        var nextTables = [
            "klanten",
            "producten",
            "medewerkers",
            "leveranciers",
            "verkooporders"
        ]

        var months = [
            "januari",
            "februari",
            "maart",
            "april",
            "mei",
            "juni",
            "juli",
            "augustus",
            "september",
            "oktober",
            "november",
            "december"
        ]

        $scope.method = ""
        $scope.table = ""
        $scope.parameters = []
        $scope.link = "jho.whatsnext.afasgroep.nl/"

        $scope.init = function() {
            if (annyang) {
                var commands = {
                    '*text': function(text) {
                        if(text == "Hoeveel minnaressen heeft Bas van der Veldt"){
                            $('#text').text(minnaressen);
                        } else {
                            $.get("/text?t=" + text, function (data) {
                                //$('#text').html(JSON.stringify(data, 4, null));
                                $scope.parseResponse(data);
                            });
                        }
                    }
                };
                //Turn on debug
                annyang.debug();
                //Set language
                annyang.setLanguage("nl-NL");
                // Add our commands to annyang
                annyang.addCommands(commands);
                // Start listening. You can call this here, or attach this call to an event, button, etc.
                annyang.start({ autoRestart: false, paused: true, continuous: false });
            }
        };

        $scope.recordSpeech = function() {
            if (annyang) {
                if(annyang.isListening()) {
                    annyang.abort();
                    $('#mic').css({color: "black"});
                } else {
                    annyang.resume();
                    $('#mic').css({color: "red"});
                }
            }
        };

        $scope.parseResponse = function(response) {
            console.log(response);
            $scope.parameters = [];
            var words = response.words;
            angular.forEach(words, function(value, key) {
                switch(value.pt) {
                    case "ww":
                        $scope.detectVerb(angular.lowercase(value.word));
                        break;
                    case "n":
                        $scope.detectNoun(angular.lowercase(value));
                        break;
                    case "tw":
                        $scope.parameters.push(value.word);
                        break;
                }
            });
            $scope.createLink();
            if($scope.modifiedLink != $scope.link){
                $('#text').text($scope.modifiedLink);
                $scope.redirected();
                annyang.abort();
                $('#mic').css({color: "black"});
            }
        };

        $scope.detectVerb = function(verb) {
            if($scope.isShowVerb(verb)){
                $scope.method = "SELECT";
            }
        }

        $scope.redirected = function(){
            $window.open($scope.modifiedLink, '_blank');
        };

        $scope.detectNoun = function(noun) {
            if($scope.isNextTable(noun.word)){
                $scope.table = noun.root;
            }
            if(noun.pos == "name") {
                $scope.parameters.push(noun.word);
            }
            if($scope.isMonth(noun.word)){
                $scope.parameters.push(noun.word);
            }
        };

        $scope.isShowVerb = function(verb) {
            if(showSynonym.indexOf(verb) > -1){
                return true;
            } else {
                return false;
            }
        };

        $scope.isNextTable = function(noun) {
            if(nextTables.indexOf(noun) > -1){
                return true;
            } else {
                return false;
            }
        };

        $scope.isMonth = function(noun) {
            if(months.indexOf(noun) > -1){
                return true;
            } else {
                return false;
            }
        };

        $scope.createLink = function() {
            $scope.modifiedLink = "http://" + $scope.link + $scope.table + "list";
            var length = $scope.parameters.length;
            if(length > 0) {
                $scope.modifiedLink = $scope.modifiedLink + "?=";
                angular.forEach($scope.parameters, function(value, index){
                    if((index+1) == length){
                        $scope.modifiedLink = $scope.modifiedLink + value;
                    } else {
                        $scope.modifiedLink = $scope.modifiedLink + value + "&";
                    }
                })
            }
        };
    });
</script>

</body>
</html>
